<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/resources/static/css/nav.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:fragment = "header">
  <a href="/" id="logoLink">
    <div id="logo">
      <h1>City Hoppers</h1>
    </div>
  </a>
    <ul id="regions">
      <li class="topNavLinks"><a href="/Regions">Regions</a></li>
      <li class="topNavLinks"><a href="/Hashtags">Categories</a></li>
      <li class="topNavLinks"><a href="/CityReviewList">City Reviews</a></li>
      <li class="topNavLinks"><a href="/writeCityReview">Write A City Review</a></li>
    </ul>
</header>
<body>
  <footer th:fragment = "footer">
    <div class="footerdiv">
      <h3 id="contact">CONTACT</h3>
      <p>example@gmail.com</p>
    </div>
  </footer>
</body>
</html>