/* 

#main{
    display: flex;
    background: darkmagenta;
} */

#card-grid{
    list-style: none;
    display:grid;
    /* Auto fill set min size and as viewport expands will reseize to meet min value set. Auto fit defines size without making new colums and sizing down should viewport increase  */
    grid-template-columns: repeat(auto-fit, minmax(25%, .5fr));
    background:cyan;
    padding:1em;
}
#card{
    background: brown;
    width: fit-content;
}
/* .img{
    max-width: fit-content;
} */