body {
    background-color: #62A87C;
}

li {
    list-style: none;
}

.mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-content: space-around;
    margin: 10rem;
}

.cityImg {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #D1F0B1;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    min-height: 300px;
    max-width: 1100px;
    font-size: large;
}

img {
    max-width: 100%;
}


.infoBlock {
    background-color: #D1F0B1;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    min-height: 300px;
    max-width: 1100px;

    font-size: large;

}

h2, h3 {
    padding: 2rem;
}

.infoBlock li {
    list-style: none;
}

.hashBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #D1F0B1;
    font-size: medium;
}

.hashBlock  h2{
    font-size: large;
    padding: .5rem;
}

.commentDiv {
    grid-column-start: 2;
    grid-column-end: 3;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    min-height: 200px;
    max-width: 1100px;
    background-color: #D1F0B1;
    font-size: medium;
}

.commentDiv li {
    list-style: none;
}

form {
    margin: 0rem 1rem;
    padding: 0rem 1rem;
}

.formLayout {
    display: grid;
    grid-template-columns: 1fr;
}

.commentBox {
    margin: 2rem 6rem;
    min-width: 50px;
    max-width: 1100px;
    min-height: 20px;
    border-color: #D1F0B1;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    font-size: medium;
}

input[type=text], select {
    width: 100%;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #C05746;
    color: white;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }