body {
    background-color: #D1F0B1;
}

.mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    margin: 3rem;

}

.cityImg {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: lightblue;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    min-height: 500px;
    background-color: #fff;
    font-size: large;
}

.infoBlock {
    background-color: lightblue;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    min-height: 500px;
    background-color: #fff;
    font-size: large;

}

.infoBlock li {
    list-style: none;
}

.hashFormBlock {
    background-color: lightblue;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    min-height: 200px;
    background-color: #fff;
    font-size: medium;
}

.associatedHashes {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    min-height: 200px;
    background-color: #fff;
    font-size: medium;
}

.commentDiv {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    min-height: 200px;
    background-color: #fff;
    font-size: medium;
}

.commentDiv li {
 list-style: none;
}

form {
    margin: 0rem 1rem;
    padding: 0rem 1rem;

}

.formLayout {
    display: grid;
    grid-template-columns: 1fr;
}

.commentBox {
margin: 2rem 6rem;
min-width:50px;
min-height: 20px;
boarder-color: black;
border-radius: 5px;
border-style: solid;
border-width: 2px;
}