
.heading h1{
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 1.5%;
    font-size: 250%;
    color: #424B54;
}
a:link{
    text-decoration: none;
}
.card-grid{
    /* list-style: none; */
    display:grid;
    /* Auto fill set min size and as viewport expands will reseize to meet min value set. Auto fit defines size without making new colums and sizing down should viewport increase  */
    grid-template-columns: repeat(auto-fit, minmax(250px, 650px));
    grid-gap: 1.5rem;
    /* background:cyan; */
    align-items: center;
    padding-left:5%;
    /* width: fit-content; */
}
.card{
    display: block;
    background: #C05746;
    padding: 1em;
    /* width: fit-content; */
}
.card-img{
    padding-left: 1%;
    min-width: 250px;
    /* min-height: auto; */
    max-width: 600px;
    /* max-height: auto; */
    width: fit-content;
    /* height: auto; */
}
.review-name{
    color: whitesmoke;
    font-size: 200%;
}