<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="/src/main/resources/templates/css/hashtagLayout.css">
    <link rel="stylesheet" href="/src/main/resources/templates/css/hashtagStyle.css">
   
    <title>Night Life</title>
</head>

<header>
        <div id="logo">
            <h1>City Hoppers</h1>
        </div>
        <div>
            <ul id="regions">
                <li class="topNavLinks"><a href="/src/main/resources/templates/Regions.html">Regions</a></li>
                <li class="topNavLinks"><a href="/src/main/resources/templates/Hashtag.html">HashTags</a></li>
                <li class="topNavLinks"><a href="/src/main/resources/templates/">City Review List</a></li>
            </ul>
        </div>
</header>

<body>
    <h1>Night Life</h1>
    <h3>Explore the after-dark culture of all the City Hoppers' favorites!</h3>

    <ul>
        <li>Seattle</li>
        <li>Portland</li>
        <li>Salt Lake City</li>
        <li>San Francisco</li>
        <li>San Diego</li>
    </ul>

    <footer>
        <div class="footerdiv">
            <h3>CONTACT</h3>
            <p>example@gmail.com</p>
        </div>
    </footer>
</body>
