<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/nav.css">
        <title>West</title>
</head>
    <body>
    <div th:insert = "fragments/header-footer:: header"></div>

        <h1 th:text="${SubRegion.regionName}"></h1>
        <h2 th:text="${SubRegion.regionDescription}"></h2>
        <div>
            <ul>
                <li  th:each = "cityReview: ${SubRegion.cityReviews}"><a th:href = "'/CityReview/' + ${cityReview.id}" th:text = "${cityReview.name}"></a></li>
            </ul>
        </div>
    <div th:insert ="fragments/header-footer:: footer"></div>
    </body>
</html>
