<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/nav.css">
    <title>West</title>
</head>
<body>
    <header>
        <div id="logo">
            <h1>City Hoppers</h1>
        </div>
        <div>
            <ul id="regions">
                <li class="topNavLinks"><a href="/src/main/resources/templates/Regions.html">Regions</a></li>
                <li class="topNavLinks"><a href="/src/main/resources/templates/Hashtag.html">HashTags</a></li>
                <li class="topNavLinks"><a href="/src/main/resources/templates/">City Review List</a></li>
            </ul>
        </div>
    </header>
    <h1>The Great American West</h1>
    <h2>Explore the cities of the New American Frontier</h2>

    <ul>
        <li>Seattle</li>
        <li>Portland</li>
        <li>San Francisco</li>
        <li>San Diego</li>
        <li>Salt Lake City</li>
        <li>The hell city of MOAB</li>
    </ul>
    <footer>
        <div class="footerdiv">
            <h3>CONTACT</h3>
            <p>example@gmail.com</p>
        </div>
    </footer>
</body>

